
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    -webkit-backface-visibility: hidden;
}

 html,
body,
div,
h1,

video {
  margin: 0 auto !important;
  padding: 0 !important;
}

html, body {
    width: 100%;
    min-width: 100%;
/*    min-height: 800px;*/
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    letter-spacing: -.03rem;
    margin: 0;
    font-size: .95rem;
    font-size: 85%;

    -webkit-background-size: cover;
    background-size: cover;
    color: #0e0e0e !important;
    position: relative;
}

.row, .columns, .column {
    margin: 0 auto !important;
  padding: 0 !important;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

.mobileOnly {
        display: none;
    }



main {
    height: auto;
    position: relative;
}
footer {
    position: relative;
}


html {
    height: auto;
    width: 100%;
    color: #0e0e0e;
}

body {
    height: auto !important;
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    background-color: #fff;
/*    font-family: 'Dosis', sans-serif !important;*/
/*    font-family: 'Cormorant SC', serif !important;*/
    font-family: 'Cormorant', serif;
}

#whole, #p_one, #p_two {
    height: auto;
    min-height: 100vh !important;

}

#p_one {


}

#p_two {


}

h2 {
  margin: 50px 0px 0px 0px;
/*  padding 20px;*/
  line-height: 160%;
  font-size: 1.625em;
  font-weight: bold !important;
  text-transform: uppercase;
    text-align: center;
    height: 70px;
    width: 100%;

}



/*----------------------------------------------*/
.btn_ .button {
    padding: 15px 40px;
    font-weight: 500;
    font-size: .9rem;
    text-transform: uppercase;
/*    font-family: 'Dosis', sans-serif !important;*/
    font-family: 'Cormorant SC', serif !important;
    background-color: #0e0e0e;
    color: #fff;
    margin-top: 30px !important;
/*  border: .5px solid #fff;  */
}

.btn_ .button:hover {
    border: .5px solid #0e0e0e;
    background-color: #fff;
    color: #0e0e0e;


}

.wf-loading p, .wf-loading h1, .wf-loading h2, .wf-loading a {
	opacity: 0;
}

.wf-active p, .wf-active h1, .wf-active h2, .wf-active a {
	opacity: 1;
}

.white_ {
    color: #fff !important;
}

.black_ {
    color: #0e0e0e !important;
}



/* ===\\================================//=== *
 * ====\\=== MAIN CONTENT CONTAINER ===//==== *
 * =====\\============================//===== */

    main {
        position: relative;
        min-height: 100vh;
        height: auto;
/*        margin-bottom: -180px;*/
    }

        main:after {
            content: '';
            display: block;
/*            height: 180px;*/
        }




    /*Scroll Buttons */
    .scrollDown_ {
        height: 100px;
        width: 100;
    }
          .scrollCue {
/*
            position: absolute;
            bottom: 37px;
            left: 50%;
*/

            width: 43px;
            height: 43px;
    /*        margin-left: -23px;*/
            border: 2.2px solid #fff;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            text-align: center;
            cursor: pointer;
          }

            .scrollCue.lndn_ {
                position: absolute;
                bottom: 120px;
                left: 50%;
            }

            .scrollCue span {
    /*
              position: absolute;
              top: 15px;
              left: 16px;
    */
              width: 9px;
              height: 9px;
              border-bottom: 2px solid #fff;
              border-right: 2px solid #fff;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
            }

    .Up_ {
        position: fixed;
        width: 100px;
        height: auto;
        bottom: 0px;
        right: 10px;
        z-index: 991;
/*        padding-top: 20px;*/
/*        background: #fff;*/
    }
        .upText_ {
            font-size: .7rem;
            font-weight: 400;
            color: #000;
            text-transform: uppercase;
        }

            .scrollUp_ {

                border: 1px solid #0e0e0e;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                text-align: center;
                cursor: pointer;
              }

                .scrollUp_ span {
                  width: 9px;
                  height: 9px;
                  border-bottom: 0px solid #000;
                  border-right: 0px solid #000;
                  border-top: 2px solid #000;
                  border-left: 2px solid #000;
                  transform: rotate(45deg);
                  -webkit-transform: rotate(45deg);
                  -moz-transform: rotate(45deg);
                  -o-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                }



/* ===\\================//=== *
 * ====\\=== HEADER ===//==== *
 * =====\\============//===== */
.homeHeader {
        z-index: 999;
        height: auto;
        min-height: 95px;
/*        border-bottom: #0e0e0e solid .5px;*/
    }

    .homeHeader .logoTitle {
        font-family: 'Dosis', sans-serif !important;
        font-size: 2rem !important;
        font-weight: 500;
        position: relative;
        text-align: center;
        line-height: 1.2;
        margin: 20px 0px !important;
        width: 430px;
    }

          .logoTitle.white_ {
              font-family: 'Dosis', sans-serif !important;
            color: #fff;
            border: #fff solid 3px;
            font-size: 3rem !important;
            font-weight: 400;
            width: 40%;
            min-width: 530px;
            margin: 20px 0px 10px 0px !important;
            }

        .logoTitle.black_ {
            font-family: 'Dosis', sans-serif !important;
            color: #0e0e0e;
            border: #0e0e0e solid 2px;
          }

    .homeHeader .tabs_ a {
        position: relative;
        margin: 0 auto;
        padding: 10px 25px;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2;
        color: #000;
        text-transform: uppercase;
    }

    .tabs-title>a[aria-selected=true] {
        background: #e6e6e6;
        border: solid 1px #0e0e0e;
    }





/*MOBILE MENU*/
.mobileMenu_ {
    height: auto;
    min-height: 350px;
    width: 100%;
}

.mobileOnly .logoHolder {
    width: 90%;
    margin: 0 auto;
}

.mobileOnly #menu2 {
    position: fixed;
/*    width: 10%;*/
    top: 50px;
}


.mobileOnly #menu2>* {
/*    width: 10%;*/
/*    top: 0;*/
}

/*Smooth Scroll*/
.divs_ {
    display: none !important;
}

ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}



.stick {
    position: fixed;
    top: 0;
    z-index: 1005;

/*    background-color: rgba(0, 0, 0, 0.6);*/
    background-color: #fff;
    margin-top: 150px;
}

        .stick#header .tabs_ a {}
        .stick#header .tabs_ a.select_ {}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
/* ===\\================//=== *
 * ====\\===PAGE 1 ===//==== *
 * =====\\============//===== */
.tabs-content {}

#descr_, #photos_ {
    height: auto;
    min-height: 100vh;
}

/*What you get */
#descr_ {}



/*Photos*/
#photos_ {}

/*FilterHeader*/
#header, nav, #menu2 {
    height: auto;
}

nav {}

#menu2 {
    margin: 0 auto;
}

    #menu2 .tabs_ {
            position: relative;
            margin: 0 auto;
            padding: 10px 25px;
            font-size: .9rem;
            line-height: 1.2;
    /*                letter-spacing: -.01rem;*/
            font-weight: 500;
            color: #000;
        }

        #menu2 .tabs_.select_ {
            border: solid 0px #fff;
            background: #e6e6e6;
            color: #0e0e0e;
        }

        a.nav-active {
            border: solid 1px #0e0e0e;
            background: #fff;
            color: #0e0e0e;
        }


/*gallery*/
#gallery {
/*    min-height: calc(100vh - 150px);*/
    min-height: 100vh;
    height: auto;
    width: 80%;
    max-width: 1300px;
    min-width: 950px
}





































/* Modal*/
#contactFormModal {
    padding: 50px;
    height: 600px;
    width: 700px;
}

#contactFormModal .contain_ {
    width: 500px;
    height: auto;

}

    .contain_ .logo>* {
        margin: 10px 0px 20px 0px;
        padding: 3px 50px;
        font-weight: 600;
        font-size: 1.2rem
}
    .contain_ form {
        height: 100%;
        margin: 10px;
        width: 100%;

    }

        form .form-ttl {
            font-size: 1.3rem;
            text-align: center;
            margin-bottom: 20px !important;
        }

        form .form-cntnt {
            height: auto;
/*            border: .5px #555 solid;*/

        }

        form .form-cntnt input {
/*            border: 1px solid #cacaca;*/
            border: #cacaca solid .25px;
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 2.3rem;
            padding: .5rem;

            margin: 0 0 1rem;
            font-family: inherit;
            font-size: 1rem;
            color: #0a0a0a;
            background-color: #fefefe;
            box-shadow: inset 0 0px 0px hsla(0,0%,4%,.1);
            border-radius: 0;
            -webkit-transition: -webkit-box-shadow .5s,border-color .25s ease-in-out;
            transition: box-shadow .5s,border-color .25s ease-in-out;
            -webkit-appearance: none
        }

        input[type=textarea] {
            height: 9rem !important;
            text-align: ;
/*            overflow-y: scroll;*/
        }

/*        input[placeholder], [placeholder], *[placeholder]{}*/
            input[type=textarea][placeholder]{
                text-align: top;
}

        input[type=submit] {
            padding: .5rem !important;
            margin-top: 20px !important;

        }

    #contact .cont_ p{
        width: 300px;
        height: 100%;
        text-align: center;
         font-size: 1rem;
        font-weight: bold;
    }


/* ===\\================//=== *
 * ====\\=== FOOTER ===//==== *
 * =====\\============//===== */

footer {
  background-color: #000;
  color: #fff;
  z-index: 990;
  bottom: 0;
}

  footer .inner {
    position: relative;
    width: 100%;
    height: 180px;
  }

    footer p {
      color: #cbcbcb;
      letter-spacing: .05em;
      white-space: nowrap;

    }

      .no-touch footer p a:hover {
        color: #cbcbcb;
      }

    footer .cont_ {
        width: 300px;
        height: 100%;
        text-align: center;
    }

    footer .cont_ .ttl_ {
        font-weight: 800 !important;
        font-size: 1rem;
    }

    .eml_ {
        text-decoration: underline;
    }

    .space {
        margin: 0px 10px;
        font-weight: bold;

    }
