
/*-------------------------------------------------------*/
/*MEDIUM*/
/*-------------------------------------------------------*/

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    #gallery {
            width: 90%;
            max-width: 700px;
            min-width: 500px;
        }
}
/*-------------------------------------------------------*/
/*SMALL*/
/*-------------------------------------------------------*/
@media screen and (max-width: 39.9375em) {
    .mobileOnly {
        display: block !important;
    }

    .desktopOnly {
        display: none !important;
    }


    .homeHeader .logoTitle {
        font-size: 1.6rem !important;
        font-weight: 500;
        margin: 5px 0px !important;
        width: 80%;
    }

    #gallery {
            width: 100%;
            max-width: 400px;
            min-width: 250px;
        }


}

